.container {
    --prod-w: 10rem;
    --prod-h: 15rem;
    display: flex;
    border: 1px solid var(--color-black);
    height: var(--prod-h);
    width: var(--prod-w);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.productTop {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.productName {
    font-size: 0.75rem;
    font-weight: bold;
}

.productBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productButton {
    cursor: pointer;
    padding: 0.5rem;
    color: var(--color-black);
    font-weight: bold;
    border: none;
    background-color: var(--color-light-black);
}

.productPrice {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.productImage {
    height: 5rem;
    width: 100%;
    object-fit: cover;
}
